@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
}

h1, .orb {
  font-family: 'Orbitron', sans-serif;
}

.box {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8rem 1rem;
  width: 200px;
  height: 200px;
  background-color: rgb(141, 236, 236);
  transition: all 0.2s linear;
}

.box:hover {
  transform: skew(-1deg);
  box-shadow: 5px 5px 10px rgb(185, 185, 185);
}

#wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: first baseline;
  margin: 10rem;
}

.btnPrice {
  background-color: #645CC9;
  border: none;
}

.btnPrice:hover {
  background-color: #645CC9;
}